body {
    font-family: 'Lato', sans-serif;
    /*
    #RRGGBB
    0 1 2 3 4 5 6 7 8 9 A B C D E F
    */
    color: #999999;
    font-weight: 300;
    

}

.text-muted{
   color: #BCBBBB;
}

.text-thin{
    
    font-weight: 100;
}

.title-super{
    
    font-size: 60px;
}

.title-logo{
  margin-top: 20px;
    
    
}

hr {
    border: none;
    height: 2px;
    /* Set the hr color */
    color: #2054AA; /* old IE */
    background-color: #2054AA; /* Modern Browsers */
}

h1{
    color: #111111;
}

h5{
    color: #111111;
}
/* alignhw sets the hieght and width of the images asigned to it*/
.alignhw{
    height: 150px;
    width: 350px;
}

.img-stretch{
    
    height: 1920;
    width: 1080;
}


